$fg-gray: #ccc;
$fg-darkgray: #444;
$fg-darkblue: darkblue;  // TODO
$fg-purple: purple;  // TODO
$fg-black: black;
$fg-white: white;
$fg-yellow: #D9AF0C;
$fg-red: #D92F08;
$fg-unistuttgart: #00BEFF;
$fg-blue: blue;

$bg-green: #4CAF50;
$bg-white: white;
$bg-black: black;
$bg-lightgray: #f1f1f1;
$bg-gray: #666;
$bg-darkred: darkred;

$clr-dropshadow: rgba(black, .5);
