# Recogito exports: no version control, fetch each time
/g2p5bicvwilcij.csv
/g2p5bicvwilcij.meta.json
/geolocations.d/recogito-g2p5bicvwilcij.json.gz
/geolocations.d/recogito-tjrrsqn4dwmgep.json.gz
/tjrrsqn4dwmgep.csv
/tjrrsqn4dwmgep.meta.json
