<!DOCTYPE html>
<html>
  <head>
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('get_static_file', path='login.css') }}" />
    <link rel="icon" href="{{ url_for('get_static_file', path='images/favicon.png') }}" type="image/png" />
  </head>
  <body>
    <form action="{{ url_for('get_password_change_page') }}" method="post" enctype="multipart/form-data">
      <div class="container">
        <h3>Change password for {{current_user.get_id()}}</h3>

        <label for="oldpwd"><b>Old password</b></label>
        <input type="password" placeholder="Enter old password" name="oldpwd" required>

        <label for="psw1"><b>New password</b></label>
        <input type="password" placeholder="Enter new password" name="psw1" required>
        <input type="password" placeholder="Repeat new password" name="psw2" required>

        <button type="submit">Change password</button>
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert--{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </form>
    <form action="{{ url_for('get_main_page') }}" method="GET">
      <div class="container">
        <button type="submit">Back</button>
      </div>
    </form>
    <footer>
      <a href="{{ url_for('dsgvo_impressum') }}" class="footer__left">
        Impressum
      </a>
      <a href="{{ url_for('dsgvo_datenschutz') }}" class="footer__right">
        Datenschutzerklärung
      </a>
    </footer>
  </body>
</html>
